body{
 background-image: url("fancy-cushion.webp");
 font-family:Verdana, Geneva, Tahoma, sans-serif; 
 color: white;
}
.picture{
 float: right;
 border-radius: 20px;
}

h1{
position: static;
}

th, td { 
    spacing: 3px;
    padding: 3px;
    font-weight: 600;
}
div.haiku{
    text-align: center;
}
table{
    background-color: rgb(67, 67, 67);
}
td.english{
    background-color: rgb(255, 245, 155);
    color: rgb(67, 67, 67);
}

td.bio{
    background-color: rgb(77, 79, 151);
    color: white;
}
td.dsa{
    background-color: rgb(255, 190, 110);
    color: rgb(67, 67, 67);
}
td.web{
    background-color: rgb(126, 255, 130);
    color: rgb(67, 67, 67);
}

td.lunch{
    background-color: rgb(240, 240, 240);
    color: rgb(67, 67, 67);
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(137, 208, 232)
}

a:hover{
text-decoration:underline;
}